<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: https://docs.shopify.com/support/your-store/products/can-i-recommend-related-products -->

{% assign number_of_products = 4 %}
{% assign heading = 'You may also like' %}

{% comment %}Limits and exclusions{% endcomment %}
{% assign same_vendor = false %}
{% assign same_type = false %}
{% assign exclusions = 'frontpage,all' | split: ',' %}


{% comment %}
Looking for a relevant collection.
{% endcomment %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
	{% unless exclusions contains collection.handle %}
		{% assign found_a_collection = true %}
	{% endunless %}
{% endif %}
{% unless found_a_collection %}
	{% for c in product.collections %}
		{% unless exclusions contains c.handle or c.all_products_count < 2 %}
			{% assign found_a_collection = true %}
			{% assign collection = c %}
			{% break %}
		{% endunless %}
	{% endfor %}
{% endunless %}

{% comment %}
If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

	{% assign counter = 0 %}
	{% assign break_at = number_of_products %}
	{% assign current_product = product %}

	{% capture related_items %}
		{% for product in collection.products %}
			{% unless product.handle == current_product.handle %}
				{% unless same_vendor and current_product.vendor != product.vendor %}
					{% unless same_type and current_product.type != product.type %}
						{% include 'product-loop' %}
						{% assign counter = counter | plus: 1 %}
						{% if counter == break_at %}
							{% break %}
						{% endif %}
					{% endunless %}
				{% endunless %}
			{% endunless %}
		{% endfor %}
	{% endcapture %}

	{% assign related_items = related_items | trim %}

	{% unless related_items == blank %}

		<div class="related row">

			{% unless heading == blank %}
				<h2>{{ heading }}</h2>
			{% endunless %}

			<div class="content-table">
				{{ related_items }}
				<div class="grid-spacer col span_4"></div>
				<div class="grid-spacer col span_4"></div>
				<div class="grid-spacer col span_4"></div>
			</div>
		</div>

	{% endunless %}

{% endif %}