<ul class="social-links">
	<li class="social-link facebook">
		<a href="{{ settings.facebook }}" target="_blank"><i class="icon-facebook"></i></a>
	</li>
	<li class="social-link twitter">
		<a href="{{ settings.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
	</li>
	<li class="social-link pinterest">
		<a href="{{ settings.pinterest }}" target="_blank"><i class="icon-pinterest"></i></a>
	</li>
	<li class="social-link instagram">
		<a href="{{ settings.instagram }}" target="_blank"><i class="icon-instagram"></i></a>
	</li>
</ul>