$bg: #FFF;

$text: #000;
$link: red;
$hover: blue;

$main: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$width: 1000px;
$margin-tb: 30px;

$border: 1px solid #000;

$m: 760px;
$s: 500px;