$bg: #FFF;

$text: #000;
$link: red;
$hover: blue;

$main: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

$width: 1000px;
$width-outer: $width + 30px;

$border: 1px solid #000;

$mobile: 740px;
$mobile-narrow: 500px;