/* Layout */
.blog-main {
	float: left; width: 776px;padding: 0 0 34px;
}
.blog-sidebar {
	float: right; width: 172px; padding: 34px 0;
}

/* Posts */
.article {
	padding: 34px 0;
	.articles & {
		padding-bottom: 45px;
	}
}
.post-title {
	text-align: center;
	padding-bottom: 18px;
	border-bottom: 1px solid #444;
}
.meta {
	text-align: center;
	font-size: 11px;
}

/* Comments */
#comments {
	clear: both;
}
.date {
	background: url('date.png' ) no-repeat;
	padding: 14px 0;
	text-align: center;
	margin-bottom: 16px;
}
.comment-count {
	a {
		&:focus,
		&:hover {
		}
	}
}

/* Comment Form */
.comment_form {
	width: 415px;
	padding-top: 36px;
	clear: both;
}


/* Sidebar */
.sidebar-widget {
	margin-bottom: 30px;
	h3 {
		text-align: center;
	}
	ul {
		list-style: none;
		text-align: center;
		margin: 0;
	}
}