.blog-main {
	float: left; width: 776px;padding: 0 0 34px;
}
.blog-sidebar {
	float: right; width: 172px; padding: 34px 0;
}
.article {
	padding: 34px 0;
	.articles & {
		padding-bottom: 45px;
	}
}
.post-title {
	text-align: center;
	padding-bottom: 18px;
	border-bottom: 1px solid #444;
}
.meta {
	text-align: center;
	font-size: 11px;
}

/* Comments */
#comments {
	clear: both;
}
.date {
	background: url('date.png' ) no-repeat;
	padding: 14px 0;
	text-align: center;
	margin-bottom: 16px;
}
.comment-count {
	a {
		&:hover {
		}
	}
}

/* Comment Form */
.comment_form {
	width: 415px;
	padding-top: 36px;
	clear: both;
}

.blog-sidebar h3 {
	padding: 12px 15px;
	border: 1px solid #444;
	display: block;
	text-align: center;
	width: 140px;
	margin: 0 auto 20px;
}
.sidebar-widget {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #444;
	font-size: 11px;
}
.blog-sidebar #search_form {
	position: relative;
	left: 0;
	top: 0;
	width: 172px;
	padding-bottom: 30px;
}
.blog-sidebar #search_form input[type=text] {
	width: 154px;
	border-bottom: 1px solid #444;
	text-transform: uppercase;
}
.blog-sidebar .replace {
	color: #999 !important;
}
.sidebar-widget ul {
	list-style: none;
	text-align: center;
	margin: 0;
}
.sidebar-widget ul li {
	list-style: none;
}
.sidebar-widget ul li a {
	color: #444;
	font-weight: 500;
}
.sidebar-widget ul li a:hover {
	color: #8cc63e;
}
.sidebar-widget.opt-in input[type=email] {
	border: none;
	border-bottom: 1px solid #444;
	padding: 2px 5px 2px 0;
	font-size: 10px;
	width: 130px;
}
.sidebar-widget.opt-in input[type=submit] {
	border: 1px solid #444;
	padding: 2px 7px;
	font-size: 10px;
}
