/* See _mixins.scss for more on this method for handling HTML5 elements */
#{$all-text-inputs}, 
textarea {
	border: $border;
	padding: 4px 10px;
	outline: none;
	-webkit-appearance: none;
	&.disabled {
		opacity: 0.5;	
	}
}
#{$all-text-inputs-focus},
textarea:focus {
	
}
input[type=submit], button, a.btn {
	border: none;
	padding: 7px 20px 5px;
	text-transform: uppercase;
	display: inline-block;
	-webkit-appearance: none;
	.c & {
		text-align: center;	
	}
	&:focus,
	&:hover {
		
	}
}

// Just sticking this here for now... customized selects
.selector-wrapper {
	clear: both;
	margin-bottom: 8px;
	overflow: hidden;
	position: relative;
	select {
		width: 70%;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding: 6px 8px;
		font-family: $main;
		color: $text;
		height: 31px;
		width: calc(100% + 2.25em);
		border: $border;
		border-radius: 0 !important;
		position: relative;
		z-index: 2;
		background: transparent;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: none;
		}
	}
 	&:after {
 		content: "";
		position: absolute;
		width: 22px;
		height: 31px;
		top: 0px;
		right: 0;
		padding-right: 2em;
		background-repeat: no-repeat;
	    background-image: url('select-arrow.png');
	    background-position: left top;
	    z-index: 0;
	    border-right: $border;
 	}
}

/* Placeholders */
::placeholder {
	color: $text;
}

// Customize Chrome autofill background (yellow by default)
// input:-webkit-autofill,
// input:-webkit-autofill:focus {
//     -webkit-box-shadow:0 0 0 50px #6d6e6e inset; 
//     -webkit-text-fill-color: white;
// }

/* Specific Forms */
#contactFormWrapper {
	width: 75%;
	margin: 2em auto;
}
.feedback {
	@extend #contactFormWrapper;
	color: #b63a07;
	font-style: italic;	
	font-weight: bold;
}
