/* See _mixins.scss for more on this method for handling HTML5 elements */
#{$all-text-inputs}, 
textarea {
	border: $border;
	padding: 4px 10px;
	outline: none;
	-webkit-appearance: none;
	&.disabled {
		opacity: 0.5;	
	}
}
#{$all-text-inputs-focus},
textarea:focus {
	
}
input[type=submit], button, a.btn {
	border: none;
	padding: 7px 20px 5px;
	text-transform: uppercase;
	display: inline-block;
	-webkit-appearance: none;
	.c & {
		text-align: center;	
	}
	&:focus,
	&:hover {
		
	}
}

/* Placeholders */
::placeholder {
	color: TEXTCOLOR;
}

/* Specific Forms */
#contactFormWrapper {
	width: 75%;
	margin: 2em auto;
}
.feedback {
	@extend #contactFormWrapper;
	color: #b63a07;
	font-style: italic;	
	font-weight: bold;
}
