* {
	box-sizing: border-box;
}
body {
	background: $bg; 
	min-width: $width-outer;
}
.wrapper {
	width: $width;
	margin: 0 auto;
	@extend %clearfix;
}

#content,
#template,
#cart {
	padding: 34px 0;
	min-height: 400px;
}

#template.centered {
	text-align: center;
	form {
		width: 300px;
		margin: 0 auto;
		text-align: left;
	}
}