// box-sizing: border-box; is set in _reset.scss

body {
	background: $bg; 
}
.main {
	min-height: 400px;
}
.container {
	width: 98%;
	max-width: $width;
	margin: 0 auto;
	@include clearfix;
	@media (max-width: $m) {
		width: 96%;
	}
}

// Simple grid system:
.row { 
	@include clearfix;
	clear: both;
}
.col { 
	display: block;
	float: left;
	width: 100%;
	margin-left: 2%;
	&.pull-left {
		margin-left: 0;
	}
	&.c {
		text-align: center;
	}
	&.r {
		text-align: right;
	}
}

.span_1 { width: 6.5%; }
.span_2 { width: 15.0%; }
.span_3 { width: 23.5%; }
.span_4 { width: 32.0%; }
.span_5 { width: 40.5%; }
.span_6 { width: 49.0%; }
.span_7 { width: 57.5%; }
.span_8 { width: 66.0%; }
.span_9 { width: 74.5%; }
.span_10 { width: 83.0%; }
.span_11 { width: 91.5%; }
.span_12 { width: 100%; }

.span_3,
.span_4 {
	@media (max-width: $m) {
		width: 49.0%;
	}
}

.span_1,
.span_2,
.span_3,
.span_4,
.span_5,
.span_6,
.span_7,
.span_8,
.span_9,
.span_10,
.span_11,
.span_12 {
	@media (max-width: $s) {
		width: 100%;
		margin-left: 0;
	}
}