.top-bar {
	height: 40px;
	@include clearfix;
	text-align: right;
	.account-links {
		padding-top: 10px;	
	}
	a {
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;
		font-size: 11px;
		text-transform: uppercase;	
		letter-spacing: 1px;
		padding: 7px 0 4px 35px;
		&.cart-link {
			background: url('icon-cart.png') no-repeat;	
		}
	}
}
.account-links {
	display: inline-block;
	vertical-align: middle;
}

.page-menu {
	display: inline-block;
	float: right;
	padding-top: 50px;
	ul {
		list-style: none;	
		margin: 0;
	}
	li {
		display: inline-block;
		margin-left: 20px;
	}
	a {
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}
nav a {
	&.current,
	li.active & {
		color: $hover;
	}
}

.sidebar-categories {
	margin-bottom: 30px;
	ul {
		list-style: none;
		margin: 0;
	}
	&.desktop-nav {
		@media (max-width: 741px){
			display: none;
		}
	}
	&.mobile-nav {
		@media (max-width: $m){
			margin-bottom: 30px !important;
		}
		@media (min-width: $m){
			display: none;
		}
	}
}
ul.submenu { 
	// sidebar submenus
	margin: 2px 0 25px;
	a {
		display: block;
		position: relative;
		&.current,
		&:hover,
		&:focus {
			
		}
	}
}
.current-parent > a {
	color: $hover;
}