.product_body {
	border: $border;
	width: 763px;
	float: right;
	padding: 35px 35px 15px;
	margin-bottom: 35px;
	h1 {
		font-family: $lato;
		text-transform: uppercase;
		color: $lblue;
		font-size: 24px;
		letter-spacing: 0.1em;
		line-height: 1em;
		margin-bottom: 20px;
	}
}
#product {
	.main {
		border-top: $border-light;	
		#breadcrumbs {
			padding: 10px 0;
		}
	}
	.images {
		float: left;
		text-align: center;
		width: 240px;
		.featured {
			padding: 20px 0 10px;	
		}
		.thumbs {
			clear: both;
			padding-top: 10px;
			width: 240px;
			.image {
				margin: 8px 6px 8px 0; 
				width: 50px; 
				height: 50px; 
				overflow: hidden; 
				border: $border;
				text-align:center; 
				display: inline-block; 
				vertical-align: top;
				&.last {
					margin: 8px 0 8px 0;
				}
			}
		}
	}
	.content {
		float: right;
		width: 430px;
	}
}
#product .select {
	margin-bottom: 0;
}
#product .select .selector-wrapper:last-child {margin-right:0;}
#product .selector-wrapper {margin-right:10px; float:left;}

#product .description {
	p {
		margin-bottom: 1em;
	}
}

#product .variants {
	label {
		display:inline-block;
		float: left; 
		vertical-align: middle;
		padding-top: 4px;
		margin-right: 10px;
	}
	input,
	select {
		display:inline-block;
		vertical-align: middle;
	}
	#quantity {
		width: 50px;
		border: $border-gray;
		text-align: center;
		padding: 2px 4px;
	}
}
#product .purchase {
	margin:25px 0;
	input[type=submit] {
		background: $lblue;
		border: 1px solid $lblue;
		border-radius: 4px;
		padding: 5px 15px;
		color: white;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		&:focus,
		&:hover {
			border: 1px solid $gold;
			background: $gold;
		}
	}
}


#related {
	clear: both;
	width: 100%;
	padding: 0 0 35px;
	ul {
		list-style: none;	
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			width: 160px;
			margin: 0 40px 40px;
			text-align: center;
			img {
				display: block;
				margin: 0 auto 10px;
			}
			h3 {
				margin: 0;
				padding: 0;
			}
			.money {
				font-family: $lato;
				font-weight: 300;
				font-size: 11px;
				color: $text;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}
	h2 {
		font-family: $paris;
		color: $gold;
		font-size: 26px;
		-webkit-font-smoothing: antialiased;
		margin-bottom: 34px;
		padding: 2px;
	}
}
#cart-updated {
 	text-transform: uppercase;	
 	color: $gold;
 	font-family: $lato;
 	font-size: 11px;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	a {
 		color: $gold;	
 	}
}
.social {
	padding: 10px 0 0;
	a {
		display: inline-block;	
		height: 20px;
		overflow: hidden;
		text-indent: -9999em;
		margin-right: 5px;
		background: url('share.png') no-repeat;
		&#share-pin {
			width: 57px;
		}
		&#share-twitter {
			width: 60px;
			background-position: -61px 0;
		}
		&#share-fb {
			width: 45px;	
			background-position: -126px 0;
		}
		&:focus,
		&:hover {
			opacity: 0.6;
		}
	}
}