body,input,textarea {
	color: $text; 
	font-family: $main;
	font-size: 11px; 
	line-height: 1.625em;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 { 
	
	a {
		color: inherit;
	}
}
h1 {
	
}
h2 {
	
}
h3 {
	
}
h4 {
	
}
h5 {
	
}
h6 {
	
}


a {
	color: $link;
	text-decoration:none; 
	outline:none;
	&:hover {
		color: $hover;
	}
}


.page-title {
	text-align: center;
	padding: 22px 0;
	border-bottom: 1px solid #444;
	background: #f5f5f5;
}
.page-title h2 {
	margin: 0;
}