{% layout settings.customer_layout %}

<div class="page-title">
	<h1>Create Your Account</h1>
</div>

<div class="account-form">
	{% if customer %}
		<p>Logged in as {{ customer.name }}</p>
		<p><a href="/account/logout" class="btn">Log Out</p>
	{% else %}
		<div id="create-customer">
			{% form 'create_customer' %}
				{{ form.errors | default_errors }}
				<p>
					<label for="first_name">First Name</label>
					<input type="text" value="" name="customer[first_name]" id="first_name" size="30" />
				</p>
				<p>
					<label for="last_name">Last Name</label>
					<input type="text" value="" name="customer[last_name]" id="last_name" size="30" />
				</p>
				<p>
					<label for="email">Email Address</label>
					<input type="email" value="" name="customer[email]" id="email" size="30" />
				</p>
				<p>
					<label for="password">Password</label>
					<input type="password" value="" name="customer[password]" id="password" size="30" />
				</p>
				<p>
					<input class="btn" type="submit" value="Create Account" />
					or {{ "Log In" | customer_login_link }}
				</p>
			{% endform %}
		</div><!-- #create-customer -->
	{% endif %}
</div>