%margins {
	margin: 20px 0; 
}
#admin_header {
	text-align: center;
}
#customer,
#recover-password,
#address_tables {
	label {
		display:block;
	}
	#{$all-text-inputs}, 
	textarea {
		display: block; 
		width: 300px;
	}
}
#address_tables {
	text-align: center;
}
.address_table {
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	text-align: left;
}

#guest,
#customer_sidebar,
#order_address {
	@extend %margins;
	float: left; 
	width: 260px;
}
#customer_orders, 
#order_details { 
	@extend %margins;
	float:right; 
	width:600px; 
} 
#order_payment, 
#order_shipping { 
	@extend %margins;
}

#add_address form {
	@extend %margins;
	width: 400px;
	text-align: left;
}
