@mixin margins($top: 20px, $sides: auto) {
	margin: $top $sides; 
}
.admin-header {
	text-align: center;
}
.account-form {
	form {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		text-align: left;
	}
	label {
		display:block;
	}
	#{$all-text-inputs}, 
	textarea {
		display: block; 
		width: 300px;
	}
}
.address-table {
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	text-align: left;
}