.cart-layout {
	h2 {
		padding-left: 2%;
	}
	.small {
		display: block;
		clear: both;
	}
}
.product-image {
	padding: 0 10px 10px;
	@media (max-width: $m){
		padding: 0 0 10px;
	}
}
.subtotal-details {
	.col {
		@media (max-width: $m){
			width: 49%;
		}
	}
}
.item-quantity {
	width: 55px;
}
.more-shopping {
	@media (max-width: $m){
		display: none;
	}
}