/* ==============================================================================
//
//  Override the default checkout styles. Delete the file or change its
//  filename to revert to the default styles.
//
// ============================================================================== */
body {
  padding: 0;
  background: #FFF;
}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
#overview h2,
#cost,
.group h3,
#footer, #container.slim #footer { 
  color: inherit; 
  font: inherit; 
  text-shadow: none;
  font-weight: inherit;
}
a, a:hover,
#overview a { 
  color: inherit; 
}
legend,
label,
input,
#container,
#container.slim,
#thumbs td, .slim #thumbs td,
#thumbs h3, #thumbs h3 span, #thumbs span,
#steps {
  font: inherit;
}
#thumbs h3, #thumbs h3 span, #thumbs span, #shipping-same {
  color: inherit;
  text-align: inherit;
}
#info-bar {
  display: none;
}
#container, #container.slim { 
  margin: 0;
}

#container,
#container.slim, 
#header,
#container.slim #header, 
#main, 
#container.slim #main,
#footer,
#container.slim #footer,
#overview,
#wallet,
div.wallet-highlight,
.group,
#addresses,
#shipping-same,
#thumbs div,
#buttons {
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
}
#products {
  border: none;
}
#cost { font: inherit; color: inherit; text-shadow: none; display: inline; margin: 0; }

// /* Email */
#email { line-height: inherit; background: transparent; border: 0; }
#email label { display: inline; font: inherit; }
#email input { font-size: inherit; }
span.sign-in-message { font: inherit; }

/* ==============================================================================
// #General
// ============================================================================== */
#container {
  width: 800px;
  margin: 0 auto;
}

/* ==============================================================================
// #Header
// ============================================================================== */
#logo {
  width: 370px;
  height: 65px;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  margin: 0 auto 40px;
  text-align: center;
}

#tagline { display: none; }


/* ==============================================================================
// #Footer
// ============================================================================== */
#footer {
  clear: both;
  padding: 15px 0;
  text-align: center;
}