.content-table {
	text-align: justify;
}
.grid-spacer {
	display: inline-block;
}
.grid-product {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-bottom: 2em;
	.image {
		line-height: 0;
	}
	.caption {
		p,
		.price {
			font-weight: bold;
		}
	}
	&:focus,	
	&:hover {
		opacity: 0.6;	
	}
	.sale,
	.soldout {
		color: $hover;
	}
}