$thumbsize: 50px;

#product {
	.images {
		text-align: center;
		.featured {}
		.thumbs {
			clear: both;
			padding-top: 10px;
			.image {
				display: inline-block; 
				vertical-align: top;
				width: $thumbsize; 
				height: $thumbsize; 
				overflow: hidden;
				margin: 8px 6px 8px 0; 
				&.last {
					margin-right: 0;
				}
			}
		}
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}
.variants {
	label {
		margin: 0 0 0.5em;
	}
	input,
	select,
	textarea {
		margin: 0 0 1em;
	}
	.quantity {
		label,
		input {
			display: inline-block;
			vertical-align: middle;
		}
		input {
			width: 50px;
			text-align: center;
			padding: 2px 4px;
		}
	}
}
.purchase {
	margin: 25px 0;
}
.cart-updated {
 	a {	
 	}
}