<div class="page-title">
	<h1>Page not found</h1>
</div>
<div class="not-found container account-form">
	<form id="" class="" name="search" action="/search">
	<input type="text" class="replace" name="q" value="Search..." style="padding:14px 10px;margin-right:10px;" /><input type="submit" value="SUBMIT" />
	</form>
</div> <!-- /#not_found -->