<div class="page-title">
	<h2>Page not found</h2>
</div>
<div id="not_found" class="wrapper">
	<form id="" class="" name="search" action="/search">
	<input type="text" class="replace" name="q" value="Search..." style="padding:14px 10px;margin-right:10px;" /><input type="submit" value="SUBMIT" />
	</form>
</div> <!-- /#not_found -->