<div class="page-title">
    <h2>{{ blog.title | link_to : blog.url }}</h2>
</div>

<div class="blog-main">
    
    {% include 'blog-post' %}
    
    {% include 'comments' %}

</div> <!-- /.blog-main -->