<div class="page-title">
    <h2>{{ blog.title }}</h2>
</div>
<div class="blog-main">
{% paginate blog.articles by settings.blog_pagination_limit %}
    
    {% for article in blog.articles %}

        {% include 'blog-post' %}
        
    {% endfor %}
    
    {% include 'pagination' %}
    
{% endpaginate %}
</div> <!-- /.blog-main -->