<div id="page" class="clearfix">
  <div class="page-title">
	 <h2>{{ page.title }}</h2>
  </div>
  <div class="wrapper">
    <div id="content">
      {{ page.content }}
    </div>
  </div> <!-- /.main -->
</div> <!-- /#page -->