
/* SelectBox */
.sbHolder{
	height: 40px;
	position: relative;
	width: 220px;
	border: $border;
	text-align: left;
}
.sbHolder:focus,
.sbHolder:focus .sbSelector {
	outline: none !important;
}
.sbSelector {
	display: block;
	height: 40px;
	left: 0;
	line-height: 40px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 15px;
	top: 0;
	width: 190px;
	color: $text;
}
.sbToggle {
	background: url('select-icons.png') 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 5px;
	top: 4px;
	width: 30px;
	&:focus,
	&:hover {
		background-position: 0 -167px;
	}
}
.sbToggleOpen{
	background-position: 0 -16px;
	&:focus,
	&:hover {
		background-position: 0 -66px;
	}
}
.sbOptions {
	background: white;
	border: $border;
	border-top: none;
	list-style: none;
	left: -1px;
	margin: 0;
	position: absolute;
	top: 30px;
	width: 205px;
	z-index: 1;
	overflow-y: auto;
	padding: 10px 0 10px 15px;
	
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		display: block;
		outline: none;
		padding: 0 !important;
		color: $text;
		&:hover,
		&:focus,
		&.sbFocus {
			color: $hover;
			
		}
	}
}

.sbOptions .sbSub{
	padding-left: 17px;
}